<h1>Data Binding</h1>
<h2>String Interpolation</h2>
<p>Me llamo {{nombre}}</p>
<h2>Property Binding</h2>
<input type="text" [placeholder]="nombre" [disabled]="!activadoModoEdicion">
<h2>Event Binding</h2>
<button type="button" (click)="changeModoEdicion()">Modo Edicion:{{ activadoModoEdicion ? 'activado':'desactivado'}} </button>

<!-- <h2>Two way data binding</h2>
<input type="text" [(ngModel)]="nombre"> -->
 <button type="button" (click)="resetNombre()">Vaciar</button>  

<h2>Two 2 data binding</h2>
<input type="text" id="texto" (input)="cambioNombre($event)" [value]=nombre>

<h2>Referencias</h2>
<input type="text" #refInput>
<button type="button" (click)="mostrarValor(refInput.value)">Mostrar Valor</button>