.cardList{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    justify-content: space-evenly;
    background-color: lightgoldenrodyellow;
}

/*Esto es para ponerle una condicion al cardList a traves de una mediaQuery*/
@media only screen and (max-width: 550px){
    .cardList{
    /* background-color: blue; */
    width: 362px;
    }
}