/* p.letra-roja {
    color: red;
    
} */

#contenedor{
    background-color: orange;
    width: 700px;
    /* height: 400px; */
    display: flex;
    flex-wrap: wrap;
    /*centrarlo verticalmente*/
    align-items: center;
    /* align-items: flex-start; */
    /*centrarlo horizontal*/
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* justify-content: space-between; */
   

}

.item{
    width: 300px;
    height: 150px;
    background-color: blue;
    border: 1px solid white;
    color: yellow;
    order: 2;
    justify-content: center;

    display: flex;
    align-items: center;
   
}

.item.Preferido{
    order: 1;
}

.item.Castigado{
    order: 3;
}

.item.derecha{
   
}

/* html body p{
    color: blue;
}

html p{
    color: red;
} */

/*p.letra-roja solo aplica a los que tengan esa clase
si solo se pone html por defecto a los que no tengan clase especfica se le aplicara el de html
*/