/*Selector Global: a todos los elementos*/
/* *{
    text-decoration: line-through;
} */

/*Selector de la etiquetas,se le aplica a todas las etiquetas de h1*/

h1,p{
    text-align: center;
}

/*De Id: al elemento que se le ponga el Id aqui se le aplicara*/
#input-valido{
    border:  1px solid yellowgreen;
}

/*Agregar Estilos a las clases : a los elementos que tienen la clase en este caso importante*/
.importante{
    background-color: yellow; 
    color: red;
}
 
/*De etiqueta +clase: a los elementos p que tienen la clase importante*/

p.importante{
    color: aqua;
}

/*De clase + clase */
.titulo.importante{
   text-decoration: underline;
}

/*Hijo directo: el elemento esta a un nivel dentro del elemento padre*/
div > p{
    font-size: 30px;

}

/*Selector de Descendientes a los elementos que estan dentro de otro (hijos directos, nietos,etc)*/
ul a {
    text-decoration: none;
}

/*Con atributo: los que tengan el atributo disabled*/
input[disabled]{
    background-color: tomato;
}

/*A los atributos que tengan un valor por ejm: a los enlaces cuya URL sea igual a : www.netflix.com*/

a[href='www.netflix.com']{
    background-color: fuchsia;
}

/*que contengan una a en su URL se denota con un *=*/
a[href*='a']{
    background-color: forestgreen;
}

/*El valor del atributo empieza por algo (empiezan por http)*/
a[href^='http']{
    background-color: deepskyblue;

}

/*Los que terminan por un valor*/
a[href$='es']{
    text-decoration: underline;
}

/*PseudoClases: por ejemplo cuando el cursor pase por encima del raton este debe cambiar su estado(hover, avtive,disabled,focus,visited)*/

h1:hover{
    font-size: 40px;
}

input:focus{
    border: 3px dashed #caff07;
}

button:not([type='button']){
    border-radius: 10px;
    background-color: green;
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: 1px solid blue;
}

button:not([type="button"]):hover{
    color: orange;
    background-color: white;
}

h2{
    text-shadow: 10px 20px 5px black;
}

#con-sombra{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px palevioletred;
}

ul > li {
    list-style: none;
    display: inline;
    /* margin-top: 30px;
    margin-bottom: 25px; */
    margin-right: 30px;
    margin-left: 5px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid black;
}

div.caja{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    overflow: scroll;

}

img {
    width: 10vh;
    /*Rotacion de elementos*/
     /* transform: rotate(30deg) translate(100px,0px) ;  */
    /* transform: translate(100px,50px); */
    /* transform: skew(30deg); */
    /* transform: scale(2,0.5); */
    transform: rotate(0deg);
    transition:  width 0.5s,tramsform 1s;
    

}

/*Transiciones*/

img:hover{
    transition:  width 1s, transform 1s;
    transform: rotate(90deg);
    width: 60vh;
}


/*Animaciones*/
@keyframes zoom{
    from{
        width: 0px;
        height: 0px;
        background-color: red;
    }
    to{
        width: 200px;
        height: 200px;
        background-color: green;
    }

}

div.caja1{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    animation-name: zoom;
    animation-duration: 2s;
    background-color: white;
}


