<h1>Directivas</h1>
<h2>De atributo</h2>

<p [ngClass]="{letraAzul: aplicaLetraAzul, subrayado:true}">Texto con letra azul y subrayados</p>
<!-- Añade o quita clase del html, si es true la plica la letra azul al elemento de html y sino no -->


<button type="button" (click)="aplicaLetraAzul = !aplicaLetraAzul">Pintar azul</button>

<p [ngStyle]="{backgroundColor: miColor,color:'orange'}">Texto con fonde negro y letra naranja</p>
<!-- cambia el css de esa etiqueta -->

<input type="text" (input)="cambioBackground($event)">

<p appMarcar>Texto Marcado</p>
<!-- <p appMarcar [color]="miColor">Texto Marcado</p>
<p appMarcar color="orange">Texto Marcado</p> -->
<p appMarcar movimiento="orange">Texto Marcado</p>

<input appPowerMode type="text">


<h2>Estructurales</h2>

<p *ngIf="aplicaLetraAzul; else parteElse">Se muestra: aplicaLetraAzul == true</p>

<ng-template #parteElse>
  <p>Se muestra (else)</p>
</ng-template>



<ul>
  <li *ngFor="let item of colores; let pos = index">{{pos+1}}:{{item}}</li>
</ul>

<ul>
  <li *ngFor="let item of pelicula | keyvalue">{{item.key}} : {{item.value}}</li>
</ul>



<!-- Directiva Switch -->
<div [ngSwitch]="miColor">
  <p *ngSwitchCase = "'black'">El color es negro</p>
  <p *ngSwitchCase = "'white'">El color es blanco</p>
  <p *ngSwitchDefault>El color es : {{miColor}}</p>
</div>